<!DOCTYPE html>
<html lang="en"> 
<head> 
	<title>RSpec results</title> 

  <meta charset="utf-8">
	<meta http-equiv="Expires" content="-1" /> 
	<meta http-equiv="Pragma" content="no-cache" /> 

	<base href="<%= BASE_HREF %>" />

	<link rel="stylesheet" href="css/textmate-rspec.css" type="text/css" media="screen" 
		charset="utf-8" />

	<script type="text/javascript" charset="utf-8" src="js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/textmate-rspec.js"></script> 
</head> 
<body> 
	<div class="rspec-report"> 
 
 	 <!-- RSpec version: <%= RSpec::Core::Version::STRING %> -->
 
		<div id="rspec-header"> 
			<div id="rspec-title-section">
		    <h1>RSpec Results:</h1> 
				<span id="rspec-summary-stats">
					Running (<span id="spec-count"><%= notification.count %></span> examples)...
				</span>
			</div>
			
		  <div id="rspec-summary"> 
				<canvas width="450" height="38" id="rspec-summary-graph"></canvas>
				<div id="rspec-summary-graph-legend"></div>
			</div> 
		</div> 

		<div id="rspec-details"> 
