<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
	<title>RSpec results</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta http-equiv="Expires" content="-1" /> 
	<meta http-equiv="Pragma" content="no-cache" /> 

  <style><%= render_css('textmate-rspec.css')  %></style>
  <script><%= render_js('jquery-1.4.2.min.js') %></script>
  <script><%= render_js('jquery.viewport.mini.js') %></script>
  <script><%= render_js('textmate-rspec.js') %></script>
</head> 
<body> 
	<div class="rspec-report"> 
 
		<div id="rspec-header"> 
			<div id="rspec-title-section">
		    <h1>RSpec Results:</h1> 
				<span id="rspec-summary-stats">Running (<span id="spec-count"><%= example_count %></span> 
					examples)...</span>
			</div>
			
		  <div id="rspec-summary"> 
				<canvas width="450" height="38" id="rspec-summary-graph"></canvas>
				<div id="rspec-summary-graph-legend"></div>
			</div> 
		</div> 

		<div id="rspec-details"> 
      <div id="left-hand">
        <div id="navigation-block" class="example-group">
          <dl>
            <dt>
              Navigation
              <span class="hide-nav">(hide)</span>
            </dt>
          </dl>
          <ul id="navigation-elements">
          </ul>
        </div>
      </div>

      <div id="right-hand">
