<dd class="spec passed" data-time="<%= time.to_f %>">
  <span class="spec-name"><%= h(example.description) %> <%= elapsed %></span>

% unless log_messages.nil? || log_messages.empty?
  <div class="log-messages">
<%= log_messages.join("\n") %>
  </div>
% end
</dd>

