	</div> <!-- closes rspec-details -->

	<div id="summary">
		<p><%= summary.example_count %> examples run in 
            <span class="duration"><%= summary.duration %>
			seconds</span>. <%= summary.failure_count %> failed, 
            <%= summary.pending_count %> are pending.</p>
	</div>
	
