	</div> 

	<div id="summary">
		<p><%= example_count %> examples run in <span class="duration"><%= duration %>
			 seconds</span>. <%= failure_count %> failed, <%= pending_count %> are pending.</p>
	</div>
	
</body> 
</html>
